<template>
  <div id="app" class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Add new</h3>
        <form v-on:submit="send">
          <div class="form-group">
            <label for="name">name</label>
            <input class="form-control" id="name" type="text" v-model="name" required>
          </div>

          <div class="form-group">
            <label for="price">price</label>
            <input class="form-control" id="price" type="number" v-model="price" required>
          </div>

          <div class="form-group">
            <label for="count">count</label>
            <input class="form-control" id="count" type="number" v-model="count" required>
          </div>

          <input class="btn btn-default" type="submit" value="submit">
          <span v-if="showError" class="has-error">Fill in all the fields</span>
        </form>
      </div>

      <div class="col-lg-6" v-if="shoppingList.length > 0">
        <h3>filter by hours</h3>
        <select v-on:change="filter" v-model="selected" class="form-control">
          <option v-for="item in filterMas" :value="item">{{item}}</option>
        </select>
      </div>


      <div class="col-lg-6">
        <h3>List items</h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>name</th>
              <th>price</th>
              <th>count</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in shoppingList">
              <td>{{index}}</td>
              <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data:function () {
      return {
          selected: "",
          name: "",
          price: "",
          count: "",
          shoppingList: [],
          filterMas: [],
          showError: false
      }
  },
  methods: {
      send: function () {
          event.preventDefault();
          let newItem = {
              'id': Date(),
              'name': this.name,
              'price': this.price,
              'count': this.count
          };

          this.shoppingList.push(newItem);
          localStorage.setItem('newItem', JSON.stringify(this.shoppingList));
          this.shoppingList = JSON.parse(localStorage.getItem('newItem'));
          for (let i = 0; i < this.shoppingList.length; i++) {
              let d = new Date(this.shoppingList[i].id);
              if (this.filterMas.indexOf(d.getHours()) === -1) {
                  this.filterMas.push(d.getHours());
              }
          }

          this.name = "";
          this.price = "";
          this.count = "";

      },
      filter: function () {
          this.shoppingList = JSON.parse(localStorage.getItem('newItem'));
          let filterMas = [];
          for (let i = 0; i < this.shoppingList.length; i++) {
              let d = new Date(this.shoppingList[i].id);
              if (this.selected === d.getHours()) {
                  filterMas.push(this.shoppingList[i]);
              }
          }
          this.shoppingList = filterMas;
      }
  }
}
</script>

<style lang="scss">
  @import "assets/scss/bootstrap";
  @import "assets/scss/bootstrap-theme";
  @import "assets/scss/home";
</style>
